.Message {
  width: 100%;
  border-left: 1px solid #eee;
  padding-left: 20px;
  margin-left: 0px;
  .challenge {
  }
  .result-box {
    padding: 10px 15px;
    margin: 15px auto;
    width: 30%;
    text-align: center;
    font-weight: 700;
    &.result-hidden {
      display: none;
    }
    &.result-success {
      border: 1px solid green;
      background-color: lightgreen;
      color: green;
    }
    &.result-failure {
      border: 1px solid red;
      background-color: lightpink;
      color: red;
    }
  }
}
